#overlay {
    background: rgba(0, 0, 0, 0.85);
}

#lightbox-caption {
    color: white;
    font-family: Courier New, Courier, monospace;
    line-height: 1.5em;
    font-size: 0.8em;
    @media(min-width: $break-medium){
        font-size: 1.1em;
    }
    @media(min-width: $break-large){
        font-size: 1.25em;
    }
    @media(min-width: $break-extra-large){
        font-size: 1.5em;
    }
}